[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
flask = "*"
pytest = "*"
pytest-describe = "*"
pytest-cov = "*"
flask-cors = "*"
flask-login = "*"
authlib = "*"
requests = "*"
jsonify = "*"
werkzeug = "*"

[requires]
python_version = "3.9"
