[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-login = "*"
requests = "*"
jsonify = "*"
werkzeug = "*"
pymongo = "*"
dnspython = "*"
certifi = "*"

[dev-packages]
pytest = "*"
pytest-describe = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"
